nav {
    width: 100vw;
    height: 7rem;
    position: absolute;
    z-index: 5;
}
nav .nav-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0rem 5rem;
}
nav .nav-content .logo {
    height: 100%;
    box-sizing: border-box;
    padding: 2rem 0rem;
}
nav .nav-content .logo a,
nav .nav-content .logo a img {
    height: 100%;
    cursor: none
}
nav .nav-content .socials {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;
}

nav .nav-content .socials a {
    cursor: none
}

nav .nav-content .socials a:hover > img {
    transition: transform 150ms ease-out;
    transform: translateY(-5px);
}

@media (max-width: 700px) {
    nav .nav-content {
        padding: 0rem 2rem;
    }
}